:root{
    --font: 'Red Hat Text', sans-serif;;
    --rayish-blue: hsl(237, 18%, 59%);
    --font-color-title: white;
    --soft-red: hsl(345, 95%, 68%);
}
html{
    font-size: 36px;
    font-family: var(--font);
    color: var(--font-color);
    background-image:
        url("../img/bg-stars.svg"), 
        url("../img/pattern-hills.svg"), linear-gradient(#191a24, #261e2f);
    background-size: 100%;
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;

}   
.container{
    text-align: center;
    min-height: 95vh;
}
.title {
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    color: var(--font-color-title);
}
footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.svg:hover {
    fill: var(--soft-red);
}
@media screen and (max-width: 280px) { 
    .title {
        padding-top: 0rem;
        font-size: 24px;
        margin: 1rem;
    }
}
