.timer {
    display: inline-block;
    padding: 8% 1%;
    margin: 2rem 0.3rem;
}
.timer__imgs {
    display: flex;

}
.timer__img{
    width: 0.3rem;
    position: absolute;
    margin-top: 1.3rem;
    opacity: 0.3;
}
.timer__img--right{
    margin-left: 123px;
}
.box {
    border-radius: 0.3rem;
    width: 130px;
    height: 55px;
}
.box-top {
    background-color: hsl(236, 21%, 26%);
    margin-bottom: 0.1px;
}
.box-bottom {
    background-color: hsl(237, 22%, 32%);
}
.cont {
    color: var(--soft-red);
    font-size: 2rem;
    padding-top: 0.5rem;
    font-weight: 700;
}
.legend {
    color: rgb(170, 167, 167);
    font-size: 0.3rem;
    margin-top: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
@media screen and (max-width: 750px) { 
    .container__timer  {
        width: 58vw;
        margin: 0 auto;
        padding: 0% 0%;
    }
    .timer {
        padding: 0%;
        margin: 8%;
    }
    .timer__img {
        margin-top: 1.3rem;
    }
    .timer__img--right {
        margin-left: 3.3rem;
    }
}
@media screen and (max-width: 518px) { 
    .container__timer {
        width: 80vw;
        margin: 0 auto;
        padding: 0% 0%;
    }
    .legend {
        font-size: 0.3rem;
    }
    .timer__img--right{
        margin-left: 123px;
    }
    .timer__img{
        width: 0.3rem;
        position: absolute;
        margin-top: 1.4rem;
    }


}