.timer {
    display: inline-block;
    padding: 8% 1%;
    margin: 2rem 0.3rem;
}
.timer__imgs {
    opacity: 0.4;
}
.box {
    border-radius: 0.3rem;
    width: 170px;
    height: 85px;
}
.box-top {
    background-color: hsl(236, 21%, 26%);
    margin-bottom: 0.1px;
}
.box-bottom {
    background-color: hsl(237, 22%, 32%);
}
.cont {
    color: var(--soft-red);
    font-size: 2.6rem;
    padding-top: 1.2rem;
    font-weight: 700;
}
.legend {
    color: rgb(170, 167, 167);
    font-size: 0.5rem;
    margin-top: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
@media screen and (min-width: 375px) { 
    .timer  {
        padding: 4rem 0rem;
        margin-bottom: 0rem;
    }
    .box {
        width: 130px;
        height: 55px;
    }
    .cont {
        font-size: 2.3rem;
        padding-top: 0.4rem;
        font-weight: 400;
    }
    .legend {
        font-size: 0.3rem;
    }


}